In [63]:
import os
import glob
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StringType,BooleanType,DateType,IntegerType,DoubleType
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("PF").config("spark.sql.caseSensitive", "True").getOrCreate()

In [64]:
#read inputs 
acc_meta = spark.read.options(inferSchema='True',header='True').csv('./data/other_input/account_metadata.csv')


#read master ledger file
df = spark.createDataFrame(pd.read_excel('./data/other_input/Master Ledger.xlsx',sheet_name="Master Ledger"))
df = df.withColumn("ID",col("ID").cast(IntegerType()))\
        .withColumn("Amount",col("Amount").cast(DoubleType()))\
        .withColumn("Subscriptions",col("Subscriptions").cast(BooleanType()))\
        .withColumn("Return",col("Return").cast(BooleanType()))\
        .withColumn("Real Amount",col("Real Amount").cast(DoubleType()))

df = df.withColumn("Date",to_date(col("Date"),"MM/dd/yyyy"))
df.printSchema()
df = df.dropna(how="all",subset= ["ID"])
df = df.replace('NaN',"")
df.orderBy("ID", ascending=False).show()

root
 |-- ID: integer (nullable = true)
 |-- Account: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Date: date (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Categories: string (nullable = true)
 |-- Categories 2: string (nullable = true)
 |-- Real Amount: double (nullable = true)
 |-- Note: string (nullable = true)
 |-- Subscriptions: boolean (nullable = true)
 |-- Return: boolean (nullable = true)
 |-- Account Type: string (nullable = true)
 |-- Owner: string (nullable = true)

+----+--------------------+--------------------+------+----------+----------------+----------+------------+-----------+--------------+-------------+------+------------+-----+
|  ID|             Account|                Item|Amount|      Date|Transaction Type|Categories|Categories 2|Real Amount|          Note|Subscriptions|Return|Account Type|Owner|
+----+--------------------+--------------------+------+----------+----------------+----------+------------+-----------+--------------+-------------+------+------------+-----+
|2769|Checking BoA Ritu...|Zelle Payment Fro...| 200.0|2023-05-22|          Income|    People|      Family|      200.0|              |        false| false|       Debit| Ritu|
|2768|Adv Plus Banking ...|      The Home Depot|126.44|2023-05-22|          Income|  Shopping|   Household|     126.44|              |        false| false|       Debit|Joint|
|2767| Robinhoodinvestment|Deposit From Adv ...| 100.0|2023-05-22|         Income3|Investment|     Deposit|      100.0|              |        false| false|  Investment|Joint|
|2766|Checking BoA Ritu...|      Dunkin' Donuts|   8.0|2023-05-22|         Expense|    Dining|        Food|       -8.0|              |        false| false|       Debit| Ritu|
|2765|Checking BoA Ritu...|              Klarna| 12.66|2023-05-22|         Expense|  Shopping|     Clothes|     -12.66|              |        false| false|       Debit| Ritu|
|2764|Checking BoA Ritu...|      Dunkin' Donuts|  15.0|2023-05-22|         Expense|  Shopping|   Household|      -15.0|              |        false| false|       Debit| Ritu|
|2763|Checking BoA Ritu...|              Klarna| 17.85|2023-05-22|         Expense|  Shopping|     Clothes|     -17.85|              |        false| false|       Debit| Ritu|
|2762|Adv Plus Banking ...|         Hobby Lobby| 21.36|2023-05-22|         Expense|     Other|       Event|     -21.36|Decoration DIY|        false| false|       Debit|Joint|
|2761|Adv Plus Banking ...|         Dollar Tree| 32.66|2023-05-22|         Expense|     Other|       Event|     -32.66|Decoration DIY|        false| false|       Debit|Joint|
|2760|Checking BoA PA 7462|       Discover Bank| 58.89|2023-05-22|        Expense4|      Bill| Credit Card|     -58.89|              |        false| false|       Debit|   PA|
|2759|Checking BoA Ritu...|          Aliexpress| 74.95|2023-05-22|         Expense|     Other|       Event|     -74.95|Decoration DIY|        false| false|       Debit| Ritu|
|2758|Adv Plus Banking ...|      The Home Depot| 79.72|2023-05-22|         Expense|  Shopping|   Household|     -79.72|              |        false| false|       Debit|Joint|
|2757|Capital One Quick...|             Tj Maxx|  82.0|2023-05-22|         Expense|  Shopping|     Clothes|      -82.0|              |        false| false|      Credit|   PA|
|2756|Adv Plus Banking ...|           Robinhood| 100.0|2023-05-22|        Expense3|Investment|     Deposit|     -100.0|              |        false| false|       Debit|Joint|
|2755|Capital One Quick...|      The Home Depot|168.94|2023-05-22|         Expense|  Shopping|   Household|    -168.94|              |        false| false|      Credit|   PA|
|2754|Checking BoA Ritu...|Pmnt Sent 0520 Re...| 200.0|2023-05-22|         Expense|    People|      Family|     -200.0|              |        false| false|       Debit| Ritu|
|2753|Jetblue Barclays ...|         Stop & Shop| 21.06|2023-05-21|         Expense| Groceries|   Groceries|     -21.06|              |        false| false|      Credit|   PA|
|2752|Costco Anywhere b...|Stop & Shop Gas S...| 41.48|2023-05-21|         Expense|       Car|         Gas|     -41.48|              |        false| false|      Credit|   PA|
|2751|Capital One Quick...|         Dollar Tree| 41.17|2023-05-20|         Expense|     Other|       Event|     -41.17|Decoration DIY|        false| false|      Credit|   PA|
|2750|Costco Anywhere b...|Autopay 2xxxxxxxx...|305.65|2023-05-20|         Income4|      Bill| Credit Card|     305.65|              |        false| false|      Credit|   PA|
+----+--------------------+--------------------+------+----------+----------------+----------+------------+-----------+--------------+-------------+------+------------+-----+
only showing top 20 rows

In [65]:
#read all csv files exported from Empower
path = glob.glob('./data/empower_input/*.csv')
df2 = spark.read.options(inferSchema='True',header='True').csv(path)


#add more columns to df2
df2 = df2.withColumn("ID",lit(1))\
.withColumn("Item",col("Description")).drop("Description")\
.withColumn("Real Amount",col("Amount"))\
.withColumn("Amount",abs(col("Amount")))\
.withColumn("Account Type",lit(None))\
.withColumn("Owner",lit(None))\
.withColumn("Transaction Type",when(col("Real Amount") <0, "Expense").otherwise("Income"))\
.drop("Category")\
.withColumn("Owner",lit(None))\
.withColumn("Subscriptions",lit(False))\
.withColumn("Return",lit(False))\
.drop("Tags")

df2.printSchema()

df2.show()

root
 |-- Date: date (nullable = true)
 |-- Account: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- ID: integer (nullable = false)
 |-- Item: string (nullable = true)
 |-- Real Amount: double (nullable = true)
 |-- Account Type: void (nullable = true)
 |-- Owner: void (nullable = true)
 |-- Transaction Type: string (nullable = false)
 |-- Subscriptions: boolean (nullable = false)
 |-- Return: boolean (nullable = false)

+----------+--------------------+------+---+--------------------+-----------+------------+-----+----------------+-------------+------+
|      Date|             Account|Amount| ID|                Item|Real Amount|Account Type|Owner|Transaction Type|Subscriptions|Return|
+----------+--------------------+------+---+--------------------+-----------+------------+-----+----------------+-------------+------+
|2023-05-23|Checking BoA PA 7462|   5.0|  1|               Zelle|        5.0|        null| null|          Income|        false| false|
|2023-05-23|Adv Plus Banking ...|305.65|  1|            Citibank|    -305.65|        null| null|         Expense|        false| false|
|2023-05-23|Adv Plus Banking ...|  21.3|  1|             Tj Maxx|      -21.3|        null| null|         Expense|        false| false|
|2023-05-23|Adv Plus Banking ...| 30.55|  1|         Dollar Tree|     -30.55|        null| null|         Expense|        false| false|
|2023-05-23|Adv Plus Banking ...| 41.98|  1|           Marshalls|     -41.98|        null| null|         Expense|        false| false|
|2023-05-23|Adv Plus Banking ...|  6.36|  1|              Savers|      -6.36|        null| null|         Expense|        false| false|
|2023-05-23|Checking BoA Ritu...|  8.13|  1|              Klarna|      -8.13|        null| null|         Expense|        false| false|
|2023-05-23|Checking BoA Ritu...|  5.94|  1|            Michaels|      -5.94|        null| null|         Expense|        false| false|
|2023-05-23|Amazon Prime Cred...| 11.76|  1|              Amazon|     -11.76|        null| null|         Expense|        false| false|
|2023-05-22|Amazon Prime Cred...| 96.27|  1|              Amazon|     -96.27|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...| 74.95|  1|          Aliexpress|     -74.95|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...| 200.0|  1|Pmnt Sent 0520 Re...|     -200.0|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...|  15.0|  1|      Dunkin' Donuts|      -15.0|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...| 17.85|  1|              Klarna|     -17.85|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...| 12.66|  1|              Klarna|     -12.66|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...|   8.0|  1|      Dunkin' Donuts|       -8.0|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA Ritu...| 200.0|  1|Zelle Payment Fro...|      200.0|        null| null|          Income|        false| false|
|2023-05-22|Capital One Quick...|168.94|  1|      The Home Depot|    -168.94|        null| null|         Expense|        false| false|
|2023-05-22|Capital One Quick...|  82.0|  1|             Tj Maxx|      -82.0|        null| null|         Expense|        false| false|
|2023-05-22|Checking BoA PA 7462| 58.89|  1|       Discover Bank|     -58.89|        null| null|         Expense|        false| false|
+----------+--------------------+------+---+--------------------+-----------+------------+-----+----------------+-------------+------+
only showing top 20 rows

In [66]:
# union master ledger with empower, then 
max_date = df.select(max("Date")).first()[0]
df3 = df.unionByName(df2.filter(col("Date")> lit(max_date)-5), allowMissingColumns=True)
df3 = df3.drop("ID","Account Type","Owner").join(acc_meta, on = 'Account').na.fill("")

df3 = df3.dropDuplicates(['Date','Account','Item','Real Amount','Note'])

window = Window.partitionBy(['Date','Account','Item','Real Amount']).orderBy(col("Note").desc())
df3 = df3.withColumn("row_number",row_number().over(window))\
    .withColumn('dup',when((col('row_number')>1) & (col('Note') == ""),True).otherwise(False))\
    .filter(col('dup') == False)\
    .drop("row_number","dup")\
    .orderBy("Date")

df3.orderBy("Date", ascending=False).show()

+--------------------+--------------+------+----------+----------------+----------+------------+-----------+--------------+-------------+------+------------+-----+
|             Account|          Item|Amount|      Date|Transaction Type|Categories|Categories 2|Real Amount|          Note|Subscriptions|Return|Account Type|Owner|
+--------------------+--------------+------+----------+----------------+----------+------------+-----------+--------------+-------------+------+------------+-----+
|Adv Plus Banking ...|       Tj Maxx|  21.3|2023-05-23|         Expense|          |            |      -21.3|              |        false| false|       Debit|Joint|
|Adv Plus Banking ...|      Citibank|305.65|2023-05-23|         Expense|          |            |    -305.65|              |        false| false|       Debit|Joint|
|Adv Plus Banking ...|   Dollar Tree| 30.55|2023-05-23|         Expense|          |            |     -30.55|              |        false| false|       Debit|Joint|
|Adv Plus Banking ...|     Marshalls| 41.98|2023-05-23|         Expense|          |            |     -41.98|              |        false| false|       Debit|Joint|
|Adv Plus Banking ...|        Savers|  6.36|2023-05-23|         Expense|          |            |      -6.36|              |        false| false|       Debit|Joint|
|Amazon Prime Cred...|        Amazon| 11.76|2023-05-23|         Expense|          |            |     -11.76|              |        false| false|      Credit| Ritu|
|Checking BoA PA 7462|         Zelle|   5.0|2023-05-23|          Income|          |            |        5.0|              |        false| false|       Debit|   PA|
|Checking BoA Ritu...|        Klarna|  8.13|2023-05-23|         Expense|          |            |      -8.13|              |        false| false|       Debit| Ritu|
|Checking BoA Ritu...|      Michaels|  5.94|2023-05-23|         Expense|          |            |      -5.94|              |        false| false|       Debit| Ritu|
|Adv Plus Banking ...|The Home Depot| 79.72|2023-05-22|         Expense|  Shopping|   Household|     -79.72|              |        false| false|       Debit|Joint|
|Adv Plus Banking ...|The Home Depot|126.44|2023-05-22|          Income|  Shopping|   Household|     126.44|              |        false| false|       Debit|Joint|
|Adv Plus Banking ...|   Hobby Lobby| 21.36|2023-05-22|         Expense|     Other|       Event|     -21.36|Decoration DIY|        false| false|       Debit|Joint|
|Amazon Prime Cred...|        Amazon| 96.27|2023-05-22|         Expense|          |            |     -96.27|              |        false| false|      Credit| Ritu|
|Checking BoA Ritu...|Dunkin' Donuts|  15.0|2023-05-22|         Expense|  Shopping|   Household|      -15.0|              |        false| false|       Debit| Ritu|
|Checking BoA Ritu...|Dunkin' Donuts|   8.0|2023-05-22|         Expense|    Dining|        Food|       -8.0|              |        false| false|       Debit| Ritu|
|Adv Plus Banking ...|   Dollar Tree| 32.66|2023-05-22|         Expense|     Other|       Event|     -32.66|Decoration DIY|        false| false|       Debit|Joint|
|Checking BoA Ritu...|        Klarna| 17.85|2023-05-22|         Expense|  Shopping|     Clothes|     -17.85|              |        false| false|       Debit| Ritu|
|Capital One Quick...|The Home Depot|168.94|2023-05-22|         Expense|  Shopping|   Household|    -168.94|              |        false| false|      Credit|   PA|
|Checking BoA Ritu...|        Klarna| 12.66|2023-05-22|         Expense|  Shopping|     Clothes|     -12.66|              |        false| false|       Debit| Ritu|
|Checking BoA PA 7462| Discover Bank| 58.89|2023-05-22|        Expense4|      Bill| Credit Card|     -58.89|              |        false| false|       Debit|   PA|
+--------------------+--------------+------+----------+----------------+----------+------------+-----------+--------------+-------------+------+------------+-----+
only showing top 20 rows

In [67]:
df3.toPandas().to_csv("./data/output/out.csv", index_label="ID")