In [1]:
import os
import glob
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StringType,BooleanType,DateType,IntegerType,DoubleType
from pyspark.sql.window import Window

#create spark Session
spark = SparkSession.builder.appName("PF").config("spark.sql.caseSensitive", "True").getOrCreate()

In [2]:
#read all supplementary inputs
acc_meta = spark.read.options(inferSchema='True',header='True').csv('../data/other_input/account_metadata.csv')


#read master ledger file, this file will also be the output of this notebook
#read using pandas then convert to spark dataframe
df = spark.createDataFrame(pd.read_excel('../data/other_input/Master Ledger.xlsx',sheet_name="Master Ledger"))

#change column type to the appropriate type
df = df.withColumn("ID",col("ID").cast(IntegerType()))\
        .withColumn("Amount",col("Amount").cast(DoubleType()))\
        .withColumn("Subscriptions",col("Subscriptions").cast(BooleanType()))\
        .withColumn("Return",col("Return").cast(BooleanType()))\
        .withColumn("Real Amount",col("Real Amount").cast(DoubleType()))
#change format of Date
df = df.withColumn("Date",to_date(col("Date"),"MM/dd/yyyy"))
#print Schema
df.printSchema()
#drop all rows that don't have any ID, fill NaN with blank
df = df.dropna(how="all",subset= ["ID"])
df = df.replace('NaN',"")
#show dataframe
df.orderBy("ID", ascending=False).show()

root
 |-- ID: integer (nullable = true)
 |-- Account: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Date: date (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Categories: string (nullable = true)
 |-- Categories 2: string (nullable = true)
 |-- Real Amount: double (nullable = true)
 |-- Note: string (nullable = true)
 |-- Subscriptions: boolean (nullable = true)
 |-- Return: boolean (nullable = true)
 |-- Limit: double (nullable = true)
 |-- Account Type: string (nullable = true)
 |-- Owner: string (nullable = true)

+----+--------------------+--------------------+------+----------+----------------+-------------+--------------+-----------+----------------+-------------+------+------+------------+-----+
|  ID|             Account|                Item|Amount|      Date|Transaction Type|   Categories|  Categories 2|Real Amount|            Note|Subscriptions|Return| Limit|Account Type|Owner|
+----+--------------------+--------------------+------+----------+----------------+-------------+--------------+-----------+----------------+-------------+------+------+------------+-----+
|2824| Robinhoodinvestment|Penn $26 Call 6/2...|  10.0|2023-05-31|         Income3|   Investment| Transactional|       10.0|                |        false| false|   NaN|  Investment|Joint|
|2823| Robinhoodinvestment|Penn $26 Call 6/2...|   0.0|2023-05-31|         Income3|   Investment| Transactional|        0.0|                |        false| false|   NaN|  Investment|Joint|
|2822|Roth Ira - Ending...|Cash Contribution...| 200.0|2023-05-30|         Income3|   Investment|       Deposit|      200.0|                |        false| false|   NaN|  Investment|   PA|
|2821|Checking BoA Ritu...|Pmnt Sent 0526 Re...| 194.0|2023-05-30|        Expense2|Transactional| Transactional|     -194.0|                |        false| false|   NaN|       Debit| Ritu|
|2820|Checking BoA Ritu...|       Market Basket|  9.62|2023-05-30|         Expense|       People|         Gifts|      -9.62|terrence's plant|        false| false|   NaN|       Debit| Ritu|
|2819|Checking BoA Ritu...|              Klarna|  8.41|2023-05-30|         Expense|     Shopping|       Clothes|      -8.41|                |        false| false|   NaN|       Debit| Ritu|
|2818|Checking BoA Ritu...|              Klarna|  9.95|2023-05-30|         Expense|     Shopping|       Clothes|      -9.95|                |        false| false|   NaN|       Debit| Ritu|
|2817|Adv Plus Banking ...|      The Home Depot| 36.25|2023-05-30|         Expense|     Shopping|     Household|     -36.25|                |        false| false|   NaN|       Debit|Joint|
|2816|Adv Plus Banking ...|              Klarna|397.64|2023-05-30|         Expense|     Shopping|        Luxury|    -397.64|   birthday gift|        false| false|   NaN|       Debit|Joint|
|2815|Adv Plus Banking ...|Fidelity Investments| 200.0|2023-05-30|        Expense3|   Investment|       Deposit|     -200.0|                |        false| false|   NaN|       Debit|Joint|
|2814|Adv Plus Banking ...|        Cvs Pharmacy| 13.76|2023-05-30|         Expense|     Shopping|      Personal|     -13.76|                |        false| false|   NaN|       Debit|Joint|
|2813|Adv Plus Banking ...|Checkcard 0527 Ag...|  0.05|2023-05-30|         Expense|       Travel|Transportation|      -0.05|                |        false| false|   NaN|       Debit|Joint|
|2812|Adv Plus Banking ...|Checkcard 0527 Ag...|  1.66|2023-05-30|         Expense|       Travel|Transportation|      -1.66|                |        false| false|   NaN|       Debit|Joint|
|2811|Adv Plus Banking ...|Checkcard 0526 Qa...| 313.0|2023-05-30|        Expense2|Transactional| Transactional|     -313.0|                |        false| false|   NaN|       Debit|Joint|
|2810| Discover It PA 1762|Xing Fu Tang Mont...| 14.39|2023-05-28|         Expense|       Travel|          Food|     -14.39|                |        false| false|3550.0|      Credit| Ritu|
|2809| Discover It PA 1762|           Six Flags| 18.35|2023-05-28|         Expense|       Travel|Transportation|     -18.35|                |        false| false|3550.0|      Credit| Ritu|
|2808| Discover It PA 1762|Popeyes Louisiana...| 23.84|2023-05-28|         Expense|       Travel|          Food|     -23.84|                |        false| false|3550.0|      Credit| Ritu|
|2807|Costco Anywhere b...|Allo Mon Coco Sai...| 84.76|2023-05-28|         Expense|       Travel|          Food|     -84.76|                |        false| false|3000.0|      Credit|   PA|
|2806| Discover It PA 1762|Yifang Fruit The ...| 32.65|2023-05-27|         Expense|       Travel|          Food|     -32.65|                |        false| false|3550.0|      Credit| Ritu|
|2805|Costco Anywhere b...|Restaurant La Ban...| 78.54|2023-05-27|         Expense|       Travel|          Food|     -78.54|                |        false| false|3000.0|      Credit|   PA|
+----+--------------------+--------------------+------+----------+----------------+-------------+--------------+-----------+----------------+-------------+------+------+------------+-----+
only showing top 20 rows

In [3]:
#read all csv files exported from Empower, merge into one spark dataframe
path = glob.glob('../data/empower_input/*.csv')
df2 = spark.read.options(inferSchema='True',header='True').csv(path)


#add more columns to df2 (all empower transactions), so that it matches columns in df (master ledger)
df2 = df2.withColumn("ID",lit(1))\
.withColumn("Item",col("Description")).drop("Description")\
.withColumn("Real Amount",col("Amount"))\
.withColumn("Amount",abs(col("Amount")))\
.withColumn("Account Type",lit(None))\
.withColumn("Owner",lit(None))\
.withColumn("Transaction Type",when(col("Real Amount") <0, "Expense").otherwise("Income"))\
.drop("Category")\
.withColumn("Owner",lit(None))\
.withColumn("Subscriptions",lit(False))\
.withColumn("Return",lit(False))\
.drop("Tags")

#print schema and show
df2.printSchema()
df2.show()

root
 |-- Date: date (nullable = true)
 |-- Account: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- ID: integer (nullable = false)
 |-- Item: string (nullable = true)
 |-- Real Amount: double (nullable = true)
 |-- Account Type: void (nullable = true)
 |-- Owner: void (nullable = true)
 |-- Transaction Type: string (nullable = false)
 |-- Subscriptions: boolean (nullable = false)
 |-- Return: boolean (nullable = false)

+----------+--------------------+------+---+--------------------+-----------+------------+-----+----------------+-------------+------+
|      Date|             Account|Amount| ID|                Item|Real Amount|Account Type|Owner|Transaction Type|Subscriptions|Return|
+----------+--------------------+------+---+--------------------+-----------+------------+-----+----------------+-------------+------+
|2023-05-31|401(k) Savings An...|   5.0|  1|Fid Us Bond Idx -...|        5.0|        null| null|          Income|        false| false|
|2023-05-31|Health Savings Ac...|  3.67|  1|Dividend Received...|       3.67|        null| null|          Income|        false| false|
|2023-05-31|Health Savings Ac...|  3.67|  1|Reinvestment Fide...|      -3.67|        null| null|         Expense|        false| false|
|2023-05-31|Roth Ira - Ending...|  0.08|  1|Dividend Received...|       0.08|        null| null|          Income|        false| false|
|2023-05-31|Roth Ira - Ending...|  0.22|  1|Dividend Received...|       0.22|        null| null|          Income|        false| false|
|2023-05-31| Robinhoodinvestment|  0.02|  1|            Interest|       0.02|        null| null|          Income|        false| false|
|2023-05-31|Checking BoA PA 7462| 100.0|  1|               Zelle|      100.0|        null| null|          Income|        false| false|
|2023-05-31| Robinhoodinvestment|  10.0|  1|Penn $26 Call 6/2...|       10.0|        null| null|          Income|        false| false|
|2023-05-31| Robinhoodinvestment|   0.0|  1|Penn $26 Call 6/2...|        0.0|        null| null|          Income|        false| false|
|2023-05-30|Roth Ira - Ending...| 200.0|  1|Cash Contribution...|      200.0|        null| null|          Income|        false| false|
|2023-05-30|Checking BoA Ritu...|  9.62|  1|       Market Basket|      -9.62|        null| null|         Expense|        false| false|
|2023-05-30|Checking BoA Ritu...|  8.41|  1|              Klarna|      -8.41|        null| null|         Expense|        false| false|
|2023-05-30|Checking BoA Ritu...|  9.95|  1|              Klarna|      -9.95|        null| null|         Expense|        false| false|
|2023-05-30|Checking BoA Ritu...| 194.0|  1|Pmnt Sent 0526 Re...|     -194.0|        null| null|         Expense|        false| false|
|2023-05-30|Adv Plus Banking ...|  0.05|  1|Checkcard 0527 Ag...|      -0.05|        null| null|         Expense|        false| false|
|2023-05-30|Adv Plus Banking ...| 200.0|  1|Fidelity Investments|     -200.0|        null| null|         Expense|        false| false|
|2023-05-30|Adv Plus Banking ...| 13.76|  1|        Cvs Pharmacy|     -13.76|        null| null|         Expense|        false| false|
|2023-05-30|Adv Plus Banking ...| 36.25|  1|      The Home Depot|     -36.25|        null| null|         Expense|        false| false|
|2023-05-30|Adv Plus Banking ...|397.64|  1|              Klarna|    -397.64|        null| null|         Expense|        false| false|
|2023-05-30|Adv Plus Banking ...|  1.66|  1|Checkcard 0527 Ag...|      -1.66|        null| null|         Expense|        false| false|
+----------+--------------------+------+---+--------------------+-----------+------------+-----+----------------+-------------+------+
only showing top 20 rows

In [4]:
#find the latest date in master ledger file
max_date = df.select(max("Date")).first()[0]

# union master ledger with empower, where the empower dataframe is filtered on max_date - 5. 
# This is to ensure it captures all transactions, because sometimes the transactions are updated few days after, so 5 days is a good limit. 
df3 = df.unionByName(df2.filter(col("Date")> lit(max_date)-5), allowMissingColumns=True)
df3 = df3.drop("ID","Account Type","Owner").join(acc_meta, on = 'Account').na.fill("")

#further drop duplicates, in case the Note column are already filled using window partition
#group all transactions which have the same date, account, item and amount into a partition, then assign row number
#if any of them has row_number value higher than 1, and their Note columns is blank, indicate these as dup and filter them out
window = Window.partitionBy(['Date','Account','Item','Real Amount']).orderBy(col("Note").desc())
df3 = df3.withColumn("row_number",row_number().over(window))\
    .withColumn('dup',when((col('row_number')>1) & (col('Note') == ""),True).otherwise(False))\
    .filter(col('dup') == False)\
    .drop("row_number","dup")\
    .orderBy("Date")

#resort dataframe by descending date
df3.orderBy("Date", ascending=False).show()

+--------------------+--------------------+------+----------+----------------+-------------+--------------+-----------+----------------+-------------+------+-----+------------+-----+-----+
|             Account|                Item|Amount|      Date|Transaction Type|   Categories|  Categories 2|Real Amount|            Note|Subscriptions|Return|Limit|Account Type|Owner|Limit|
+--------------------+--------------------+------+----------+----------------+-------------+--------------+-----------+----------------+-------------+------+-----+------------+-----+-----+
|401(k) Savings An...|Fid Us Bond Idx -...|   5.0|2023-05-31|          Income|             |              |        5.0|                |        false| false| null|  Investment|   PA|    0|
|Checking BoA PA 7462|               Zelle| 100.0|2023-05-31|          Income|             |              |      100.0|                |        false| false| null|       Debit|   PA|    0|
|Health Savings Ac...|Dividend Received...|  3.67|2023-05-31|          Income|             |              |       3.67|                |        false| false| null|  Investment|   PA|    0|
|Health Savings Ac...|Reinvestment Fide...|  3.67|2023-05-31|         Expense|             |              |      -3.67|                |        false| false| null|  Investment|   PA|    0|
| Robinhoodinvestment|            Interest|  0.02|2023-05-31|          Income|             |              |       0.02|                |        false| false| null|  Investment|Joint|    0|
| Robinhoodinvestment|Penn $26 Call 6/2...|   0.0|2023-05-31|         Income3|   Investment| Transactional|        0.0|                |        false| false|  NaN|  Investment|Joint|    0|
| Robinhoodinvestment|Penn $26 Call 6/2...|  10.0|2023-05-31|         Income3|   Investment| Transactional|       10.0|                |        false| false|  NaN|  Investment|Joint|    0|
|Roth Ira - Ending...|Dividend Received...|  0.08|2023-05-31|          Income|             |              |       0.08|                |        false| false| null|  Investment|   PA|    0|
|Roth Ira - Ending...|Dividend Received...|  0.22|2023-05-31|          Income|             |              |       0.22|                |        false| false| null|  Investment|   PA|    0|
|Adv Plus Banking ...|Checkcard 0527 Ag...|  0.05|2023-05-30|         Expense|       Travel|Transportation|      -0.05|                |        false| false|  NaN|       Debit|Joint|    0|
|Adv Plus Banking ...|Checkcard 0526 Qa...| 313.0|2023-05-30|        Expense2|Transactional| Transactional|     -313.0|                |        false| false|  NaN|       Debit|Joint|    0|
|Adv Plus Banking ...|Checkcard 0527 Ag...|  1.66|2023-05-30|         Expense|       Travel|Transportation|      -1.66|                |        false| false|  NaN|       Debit|Joint|    0|
|Adv Plus Banking ...|        Cvs Pharmacy| 13.76|2023-05-30|         Expense|     Shopping|      Personal|     -13.76|                |        false| false|  NaN|       Debit|Joint|    0|
|Adv Plus Banking ...|Fidelity Investments| 200.0|2023-05-30|        Expense3|   Investment|       Deposit|     -200.0|                |        false| false|  NaN|       Debit|Joint|    0|
|Adv Plus Banking ...|              Klarna|397.64|2023-05-30|         Expense|     Shopping|        Luxury|    -397.64|   birthday gift|        false| false|  NaN|       Debit|Joint|    0|
|Adv Plus Banking ...|      The Home Depot| 36.25|2023-05-30|         Expense|     Shopping|     Household|     -36.25|                |        false| false|  NaN|       Debit|Joint|    0|
|Checking BoA Ritu...|              Klarna|  9.95|2023-05-30|         Expense|     Shopping|       Clothes|      -9.95|                |        false| false|  NaN|       Debit| Ritu|    0|
|Checking BoA Ritu...|              Klarna|  8.41|2023-05-30|         Expense|     Shopping|       Clothes|      -8.41|                |        false| false|  NaN|       Debit| Ritu|    0|
|Checking BoA Ritu...|       Market Basket|  9.62|2023-05-30|         Expense|       People|         Gifts|      -9.62|terrence's plant|        false| false|  NaN|       Debit| Ritu|    0|
|Checking BoA Ritu...|Pmnt Sent 0526 Re...| 194.0|2023-05-30|        Expense2|Transactional| Transactional|     -194.0|                |        false| false|  NaN|       Debit| Ritu|    0|
+--------------------+--------------------+------+----------+----------------+-------------+--------------+-----------+----------------+-------------+------+-----+------------+-----+-----+
only showing top 20 rows

In [5]:
#export to csv and add column ID
df3.toPandas().to_csv("../data/output/out.csv", index_label="ID")