In [1]:
import os
import glob
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StringType,BooleanType,DateType,IntegerType,DoubleType
from pyspark.sql.window import Window

#create spark Session
spark = SparkSession.builder.appName("PF").config("spark.sql.caseSensitive", "True").getOrCreate()

In [27]:

#read master ledger file, this file will also be the output of this notebook
#read using pandas then convert to spark dataframe
df = spark.createDataFrame(pd.read_excel('../data/other_input/Master Ledger.xlsx',sheet_name="Master Ledger"))

#change column type to the appropriate type
df = df.withColumn("ID",col("ID").cast(IntegerType()))\
        .withColumn("Amount",col("Amount").cast(DoubleType()))\
        .withColumn("Subscriptions",col("Subscriptions").cast(BooleanType()))\
        .withColumn("Return",col("Return").cast(BooleanType()))\
        .withColumn("Real Amount",col("Real Amount").cast(DoubleType()))
#change format of Date
df = df.withColumn("Date",to_date(col("Date"),"MM/dd/yyyy"))
#print Schema
df.printSchema()
#drop all rows that don't have any ID, fill NaN with blank
df = df.dropna(how="all",subset= ["ID"]).drop('ID','Limit')
df = df.replace('NaN',"")
#show dataframe
df.orderBy("ID", ascending=False).show()

root
 |-- ID: integer (nullable = true)
 |-- Account: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Date: date (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Categories: string (nullable = true)
 |-- Categories 2: string (nullable = true)
 |-- Real Amount: double (nullable = true)
 |-- Note: string (nullable = true)
 |-- Subscriptions: boolean (nullable = true)
 |-- Return: boolean (nullable = true)
 |-- Limit: double (nullable = true)
 |-- Account Type: string (nullable = true)
 |-- Owner: string (nullable = true)

+--------------------+--------------------+-------+----------+----------------+-------------+-------------+-----------+------------------+-------------+------+------------+-----+
|             Account|                Item| Amount|      Date|Transaction Type|   Categories| Categories 2|Real Amount|              Note|Subscriptions|Return|Account Type|Owner|
+--------------------+--------------------+-------+----------+----------------+-------------+-------------+-----------+------------------+-------------+------+------------+-----+
|Capital One Quick...|             Comcast|  39.99|2023-06-03|         Expense|      Housing|    Utilities|     -39.99|                  |        false| false|      Credit|   PA|
| Discover It PA 1762|         Chick-fil-a|   2.77|2023-06-02|         Expense|       Dining|       Drinks|      -2.77|                  |        false| false|      Credit| Ritu|
| Discover It PA 1762|         Chick-fil-a|   16.3|2023-06-02|         Expense|       Dining|         Food|      -16.3|                  |        false| false|      Credit| Ritu|
| Chime Checking 4288|                 Ati|   10.0|2023-06-02|         Expense|Entertainment|       Movies|      -10.0|                  |        false| false|       Debit| Ritu|
|Checking BoA Ritu...|              Klarna|  12.32|2023-06-02|         Expense|     Shopping|      Clothes|     -12.32|                  |        false| false|       Debit| Ritu|
|Checking BoA PA 7462|Emd Millipore Co ...|  250.0|2023-06-02|          Income|       Income|          Job|      250.0|                  |        false| false|       Debit|   PA|
|Adv Plus Banking ...|Emd Millipore Co ...|2389.91|2023-06-02|          Income|       Income|          Job|    2389.91|                  |        false| false|       Debit|Joint|
|Adv Plus Banking ...|          Craigslist|    5.0|2023-06-02|         Expense|        Other|        Event|       -5.0|    Craiglist post|        false| false|       Debit|Joint|
|Adv Plus Banking ...|Checkcard 0601 Ku...|  150.0|2023-06-02|         Expense|        Legal|  Immigration|     -150.0|                  |        false| false|       Debit|Joint|
|Empower Customer ...|Interest Paid By ...|  33.07|2023-06-01|          Income|       Income|     Interest|      33.07|                  |        false| false|       Debit|   PA|
| Chime Checking 4288|Emd Millipore Co,...|  250.0|2023-06-01|          Income|       Income|          Job|      250.0|                  |        false| false|       Debit| Ritu|
|BoA Customized Ca...|          Aliexpress|  57.59|2023-06-01|         Expense|        Other|        Event|     -57.59|Wedding Decoration|        false| false|      Credit|   PA|
|Adv Plus Banking ...|               Zelle|  100.0|2023-06-01|         Expense|     Business|   Tung Duong|     -100.0|                  |        false| false|       Debit|Joint|
|Adv Plus Banking ...|Bill Pay Check 50...| 1600.0|2023-06-01|         Expense|      Housing|         Rent|    -1600.0|                  |        false| false|       Debit|Joint|
| Robinhoodinvestment|Penn $26 Call 6/2...|   10.0|2023-05-31|         Income3|   Investment|Transactional|       10.0|                  |        false| false|  Investment|Joint|
| Robinhoodinvestment|Penn $26 Call 6/2...|    0.0|2023-05-31|         Income3|   Investment|Transactional|        0.0|                  |        false| false|  Investment|Joint|
| Discover It PA 1762|     Teazzi Tea Shop|   1.23|2023-05-31|         Expense|       Dining|       Drinks|      -1.23|                  |        false| false|      Credit| Ritu|
| Discover It PA 1762|     Teazzi Tea Shop|  24.92|2023-05-31|         Expense|       Dining|       Drinks|     -24.92|                  |        false| false|      Credit| Ritu|
| Discover It PA 1762|Onamenu.com Xxxxx...|  76.12|2023-05-31|         Expense|       Dining|         Food|     -76.12|                  |        false| false|      Credit| Ritu|
|Checking BoA PA 7462|               Zelle|  100.0|2023-05-31|          Income|     Business|   Tung Duong|      100.0|                  |        false| false|       Debit|   PA|
+--------------------+--------------------+-------+----------+----------------+-------------+-------------+-----------+------------------+-------------+------+------------+-----+
only showing top 20 rows

In [28]:
#read all supplementary inputs
acc_meta = spark.read.options(inferSchema='True',header='True').csv('../data/other_input/account_metadata.csv')

#create a category mapping based on past data to auto-assign category
category_map = df.dropDuplicates(['Account','Item','Categories','Categories 2','Transaction Type']).select(['Account','Item','Categories','Categories 2','Transaction Type'])

In [25]:
#read all csv files exported from Empower, merge into one spark dataframe
path = glob.glob('../data/empower_input/*.csv')
df2 = spark.read.options(inferSchema='True',header='True').csv(path)


#add more columns to df2 (all empower transactions), so that it matches columns in df (master ledger)
df2 = df2.join(acc_meta,on='Account')\
.drop("Limit")\
.filter(~(col('Account Type') == "Investment"))\
.withColumn("Item",col("Description")).drop("Description")\
.withColumn("Real Amount",col("Amount"))\
.withColumn("Amount",abs(col("Amount")))\
.withColumn("Transaction Type",when(col("Real Amount") <0, "Expense").otherwise("Income"))\
.drop("Category")\
.withColumn("Owner",lit(None))\
.withColumn("Subscriptions",lit(False))\
.withColumn("Return",lit(False))\
.drop("Tags")\

#print schema and show
df2.printSchema()
df2.show()

root
 |-- Account: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Account Type: string (nullable = true)
 |-- Owner: void (nullable = true)
 |-- Item: string (nullable = true)
 |-- Real Amount: double (nullable = true)
 |-- Transaction Type: string (nullable = false)
 |-- Subscriptions: boolean (nullable = false)
 |-- Return: boolean (nullable = false)

+--------------------+----------+-------+------------+-----+--------------------+-----------+----------------+-------------+------+
|             Account|      Date| Amount|Account Type|Owner|                Item|Real Amount|Transaction Type|Subscriptions|Return|
+--------------------+----------+-------+------------+-----+--------------------+-----------+----------------+-------------+------+
|Checking BoA Ritu...|2023-06-02|  12.32|       Debit| null|              Klarna|     -12.32|         Expense|        false| false|
|Checking BoA PA 7462|2023-06-02|  250.0|       Debit| null|Emd Millipore Co ...|      250.0|          Income|        false| false|
|Adv Plus Banking ...|2023-06-02|  150.0|       Debit| null|Checkcard 0601 Ku...|     -150.0|         Expense|        false| false|
|Adv Plus Banking ...|2023-06-02|    5.0|       Debit| null|          Craigslist|       -5.0|         Expense|        false| false|
|Adv Plus Banking ...|2023-06-02|2389.91|       Debit| null|Emd Millipore Co ...|    2389.91|          Income|        false| false|
|BoA Customized Ca...|2023-06-01|  57.59|      Credit| null|          Aliexpress|     -57.59|         Expense|        false| false|
|Adv Plus Banking ...|2023-06-01| 1600.0|       Debit| null|Bill Pay Check 50...|    -1600.0|         Expense|        false| false|
|Adv Plus Banking ...|2023-06-01|  100.0|       Debit| null|               Zelle|     -100.0|         Expense|        false| false|
| Chime Checking 4288|2023-06-01|  250.0|       Debit| null|Emd Millipore Co,...|      250.0|          Income|        false| false|
|Empower Customer ...|2023-06-01|  33.07|       Debit| null|Interest Paid By ...|      33.07|          Income|        false| false|
| Discover It PA 1762|2023-05-31|   1.23|      Credit| null|     Teazzi Tea Shop|      -1.23|         Expense|        false| false|
| Discover It PA 1762|2023-05-31|  24.92|      Credit| null|     Teazzi Tea Shop|     -24.92|         Expense|        false| false|
| Discover It PA 1762|2023-05-31|  76.12|      Credit| null|Onamenu.com Xxxxx...|     -76.12|         Expense|        false| false|
|Checking BoA PA 7462|2023-05-31|  100.0|       Debit| null|               Zelle|      100.0|          Income|        false| false|
|Checking BoA Ritu...|2023-05-30|   9.62|       Debit| null|       Market Basket|      -9.62|         Expense|        false| false|
|Checking BoA Ritu...|2023-05-30|   8.41|       Debit| null|              Klarna|      -8.41|         Expense|        false| false|
|Checking BoA Ritu...|2023-05-30|   9.95|       Debit| null|              Klarna|      -9.95|         Expense|        false| false|
|Checking BoA Ritu...|2023-05-30|  194.0|       Debit| null|Pmnt Sent 0526 Re...|     -194.0|         Expense|        false| false|
|Adv Plus Banking ...|2023-05-30|   0.05|       Debit| null|Checkcard 0527 Ag...|      -0.05|         Expense|        false| false|
|Adv Plus Banking ...|2023-05-30|  200.0|       Debit| null|Fidelity Investments|     -200.0|         Expense|        false| false|
+--------------------+----------+-------+------------+-----+--------------------+-----------+----------------+-------------+------+
only showing top 20 rows

In [29]:
#find the latest date in master ledger file
max_date = df.select(max("Date")).first()[0]

# union master ledger with empower, where the empower dataframe is filtered on max_date - 5. 
# This is to ensure it captures all transactions, because sometimes the transactions are updated few days after, so 5 days is a good limit. 
df3 = df.unionByName(df2.filter(col("Date")> lit(max_date)-5), allowMissingColumns=True)
df3 = df3.drop("Account Type","Owner").join(acc_meta, on = 'Account').na.fill("")

#auto-assign category using category mapping 
df4 = df3.filter(col("Categories") == lit("")).drop('Categories','Categories 2').join(category_map, on=['Account','Item','Transaction Type'])
df3 = df3.filter(~(col("Categories") == lit(""))).unionByName(df4, allowMissingColumns=True)

#further drop duplicates, in case the Note column are already filled using window partition
#group all transactions which have the same date, account, item and amount into a partition, then assign row number
#if any of them has row_number value higher than 1, and their Note columns is blank, indicate these as dup and filter them out
window = Window.partitionBy(['Date','Account','Item','Real Amount']).orderBy(col("Note").desc())
df3 = df3.withColumn("row_number",row_number().over(window))\
    .withColumn('dup',when((col('row_number')>1) & (col('Note') == ""),True).otherwise(False))\
    .filter(col('dup') == False)\
    .drop("row_number","dup")\
    .orderBy("Date")


#resort dataframe by descending date
df3.orderBy("Date", ascending=False).show(20)

+--------------------+--------------------+-------+----------+----------------+-------------+-------------+-----------+------------------+-------------+------+------------+-----+-----+
|             Account|                Item| Amount|      Date|Transaction Type|   Categories| Categories 2|Real Amount|              Note|Subscriptions|Return|Account Type|Owner|Limit|
+--------------------+--------------------+-------+----------+----------------+-------------+-------------+-----------+------------------+-------------+------+------------+-----+-----+
|Capital One Quick...|             Comcast|  39.99|2023-06-03|         Expense|      Housing|    Utilities|     -39.99|                  |        false| false|      Credit|   PA| 9000|
|Adv Plus Banking ...|Checkcard 0601 Ku...|  150.0|2023-06-02|         Expense|        Legal|  Immigration|     -150.0|                  |        false| false|       Debit|Joint|    0|
|Adv Plus Banking ...|          Craigslist|    5.0|2023-06-02|         Expense|        Other|        Event|       -5.0|    Craiglist post|        false| false|       Debit|Joint|    0|
|Adv Plus Banking ...|Emd Millipore Co ...|2389.91|2023-06-02|          Income|       Income|          Job|    2389.91|                  |        false| false|       Debit|Joint|    0|
|Checking BoA PA 7462|Emd Millipore Co ...|  250.0|2023-06-02|          Income|       Income|          Job|      250.0|                  |        false| false|       Debit|   PA|    0|
|Checking BoA Ritu...|              Klarna|  12.32|2023-06-02|         Expense|     Shopping|      Clothes|     -12.32|                  |        false| false|       Debit| Ritu|    0|
| Chime Checking 4288|                 Ati|   10.0|2023-06-02|         Expense|Entertainment|       Movies|      -10.0|                  |        false| false|       Debit| Ritu|    0|
| Discover It PA 1762|         Chick-fil-a|   16.3|2023-06-02|         Expense|       Dining|         Food|      -16.3|                  |        false| false|      Credit| Ritu| 3550|
| Discover It PA 1762|         Chick-fil-a|   2.77|2023-06-02|         Expense|       Dining|       Drinks|      -2.77|                  |        false| false|      Credit| Ritu| 3550|
|Adv Plus Banking ...|Bill Pay Check 50...| 1600.0|2023-06-01|         Expense|      Housing|         Rent|    -1600.0|                  |        false| false|       Debit|Joint|    0|
|Adv Plus Banking ...|               Zelle|  100.0|2023-06-01|         Expense|     Business|   Tung Duong|     -100.0|                  |        false| false|       Debit|Joint|    0|
|BoA Customized Ca...|          Aliexpress|  57.59|2023-06-01|         Expense|        Other|        Event|     -57.59|Wedding Decoration|        false| false|      Credit|   PA| 8000|
| Chime Checking 4288|Emd Millipore Co,...|  250.0|2023-06-01|          Income|       Income|          Job|      250.0|                  |        false| false|       Debit| Ritu|    0|
|Empower Customer ...|Interest Paid By ...|  33.07|2023-06-01|          Income|       Income|     Interest|      33.07|                  |        false| false|       Debit|   PA|    0|
|Checking BoA PA 7462|               Zelle|  100.0|2023-05-31|          Income|     Business|   Tung Duong|      100.0|                  |        false| false|       Debit|   PA|    0|
| Discover It PA 1762|Onamenu.com Xxxxx...|  76.12|2023-05-31|         Expense|       Dining|         Food|     -76.12|                  |        false| false|      Credit| Ritu| 3550|
| Discover It PA 1762|     Teazzi Tea Shop|  24.92|2023-05-31|         Expense|       Dining|       Drinks|     -24.92|                  |        false| false|      Credit| Ritu| 3550|
| Discover It PA 1762|     Teazzi Tea Shop|   1.23|2023-05-31|         Expense|       Dining|       Drinks|      -1.23|                  |        false| false|      Credit| Ritu| 3550|
| Robinhoodinvestment|Penn $26 Call 6/2...|    0.0|2023-05-31|         Income3|   Investment|Transactional|        0.0|                  |        false| false|  Investment|Joint|    0|
| Robinhoodinvestment|Penn $26 Call 6/2...|   10.0|2023-05-31|         Income3|   Investment|Transactional|       10.0|                  |        false| false|  Investment|Joint|    0|
+--------------------+--------------------+-------+----------+----------------+-------------+-------------+-----------+------------------+-------------+------+------------+-----+-----+
only showing top 20 rows

In [5]:
#export to csv and add column ID
df3.toPandas().to_csv("../data/output/out.csv", index_label="ID")